body {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

header > img {
  width: 100px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

input:last-child {
  background-color: gold;
}

input[type="submit"]:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
    background-color: whitesmoke;
}

h2 + .user_review {
    border-top: 1px solid black;
}

/*input[type="radio"] {
      -webkit-appearance: none;
      width: 27px;
      height: 27px;
      background-image: url(stars.png);
      vertical-align: bottom;
  }*/
